.Loading-Page {
  background-color: $bgGreyPrimary;
  width: 100%;
  text-align: center;
  &-Logo {
    #logo {
      #Vector,
      #Vector_2,
      #Vector_3,
      #Vector_4,
      #Vector_5,
      #Vector_6,
      #Vector_7,
      #Vector_8 {
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: $colorBluePrimary;
      }
    }
  }
}

@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
